

.trainingContainer {
    padding: 0;
    margin: 0;
}

.topBackground {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0;
    margin: 0;

    height: 47vh;

    background-image: url('./assets/Training.jpg');
    background-color: lightgrey;

    background-repeat: no-repeat;
    background-size: cover;

}

.bottomContainer {
    padding: 0;
    margin: 0;

    background-color: white;
}

.title h2 {
    font-size: 22px;
    text-align: center;
    padding: 30px;
    
}

.dropDownContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 28px;

}

.dropDownContainer .dropdown {
    display: inline-block;
    position: relative;
    
    width: 18%;
    padding: 5px 12px;
    border: 1px solid rgb(17, 113, 192);
    background-color: azure;
}

/**Dropdown styling */

/* Dropdown Content (Hidden by Default) */
.dropdown .dropdownContent {
    display: none;
    position: absolute;
    top: 25px;
    left: 0;

    width: 100%;
    margin: 5px 0;

    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    white-space: nowrap;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdownContent a {
    display: block; 
    font-family: sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1.5;
    padding: 5px 15px;
    color: rgb(17, 113, 192);
    border-bottom: 2px solid lightgray;
}

.dropdown:hover {
    background-color: #ddd;

}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdownContent {
    display: block;
    background-color: azure;
}

/* Change color of dropdown links on hover */
.dropdownContent a:hover {
    background-color: #ddd;
}

.courses {
    margin: 10px 28px;
    padding: 12px;
    border: 1px solid rgb(17, 113, 192);
    border-radius: 10px;
}

.courses img {
    margin-top: 0px;
    height: 15vh;
    padding: 10px;
    border-radius: 15%;
}

.courses .corporate img {
    margin-top: 10px;
    height: 10vh;
    padding: 10px;
    border-radius: 15%;
}


.courses .dummy {
    margin-top: 10px;
    height: 14vh;
    width: 14vh;
    padding: 10px;
    border-radius: 15%;

}

.courses img:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); 
}

.courses .leadershipCourse {
    display: flex;
    justify-content: flex-start;
}

.courses div{
    display: flex;
    justify-content: space-evenly;
}

.courses div a {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.courses p {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: rgb(17, 113, 192);
}





